@font-face {
    font-family: "CustomFont";
    src: url("font3.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #373A40;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #eeeeee;
}

.title2 {
    position: absolute;
    top: 125vh;
    left: 50%;
    transform: translate(-50%, -1300%);
    font-size: 3vh;
    font-family: "CustomFont", sans-serif;
    color: #DC5F00;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -1300%); 
    }
    to {
        opacity: 1; 
        transform: translate(-50%, -1300%); 
    }
}

.container {
    position: relative;
}

#footer {
    position: absolute;
    bottom: -4vh; 
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center; 
    text-align: center; 
    font-family: "CustomFont", sans-serif;
    font-size: 1.5vh;
}

#mylogo {
    width: 10vh; 
    height: 10vh; 
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qmark {
    margin-left: 0px; 
    transition: color 0.35s ease;
}

.qmark:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -42.5vh; 
    left: 50%;
    transform: translateX(-50%);
    font-family: "CustomFont", sans-serif;
}

.button-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50vh; 
    height: 8vh; 
    margin-bottom: 10px; 
    background-color: #373A40; 
    color: #DC5F00; 
    border: 5px solid #DC5F00; 
    border-radius: 20px; 
    font-size: 2.75vh; 
    text-align: center;
    font-family: "CustomFont", sans-serif; 
    transition: background-color 0.5s, color 0.5s; 
}

.button:hover {
    background-color: #DC5F00; 
    color: #373A40; 
    border: 5px solid #373A40; 
    cursor: pointer;
}

p {
    font-family: "CustomFont", sans-serif; 
    font-size: 3vh; 
    width: 90vw;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    max-height: 60vh;
    border: 2px solid #DC5F00;
    border-radius: 20px;
    padding: 10px;
}

