@font-face {
    font-family: "CustomFont";
    src: url("font3.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #373A40;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #eeeeee; /* Text color */
}

.title2 {
    position: absolute;
    top: 125vh;
    left: 50%;
    transform: translate(-50%, -1300%);
    font-size: 3vh;
    font-family: "CustomFont", sans-serif;
    color: #DC5F00;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start opacity */
        transform: translate(-50%, -1300%); /* Start position */
    }
    to {
        opacity: 1; /* End opacity */
        transform: translate(-50%, -1300%); /* End position */
    }
}

.container {
    position: relative;
}

#footer {
    position: absolute;
    bottom: -4vh; /* 7.5% above the bottom edge */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
    font-family: "CustomFont", sans-serif;
    font-size: 1.5vh;
}

#mylogo {
    width: 10vh; /* Adjust as needed */
    height: 10vh; /* Adjust as needed */
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the logo */
}

.qmark {
    margin-left: 0px; /* Adjust spacing between the copyright text and question mark */
    transition: color 0.35s ease;
}

.qmark:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -42.5vh; /* 7.5% above the bottom edge */
    left: 50%;
    transform: translateX(-50%);
    font-family: "CustomFont", sans-serif;
}

.button-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 50vh; /* 20% of viewport height */
    height: 8vh; /* 5% of viewport height */
    margin-bottom: 10px; /* Add some spacing between buttons */
    background-color: #373A40; /* Background color */
    color: #DC5F00; /* Text color */
    border: 5px solid #DC5F00; /* Border */
    border-radius: 20px; /* Border radius */
    font-size: 2.75vh; /* Adjust font size as needed */
    text-align: center;
    font-family: "CustomFont", sans-serif; /* Use the custom font with fallback to sans-serif */
    transition: background-color 0.5s, color 0.5s; /* Transition on background color and text color */
}

.button:hover {
    background-color: #DC5F00; /* Background color on hover */
    color: #373A40; /* Text color on hover */
    border: 5px solid #373A40; /* Border */
    cursor: pointer;
}

p {
    font-family: "CustomFont", sans-serif; /* Use the custom font with fallback to sans-serif */
    font-size: 3vh; /* Adjust font size as needed */
    width: 90vw;
    top: 50%;
    left: 50%;
    overflow-y: auto;
    max-height: 60vh;
    border: 2px solid #DC5F00;
    border-radius: 20px;
    padding: 10px;
}

