@font-face {
    font-family: "CustomFont";
    src: url("font.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #eeeeee; /* Text color */
}

.container {
    position: relative;
}

#logo {
    width: 10vh; /* 125px at 2560x1440 resolution is approximately 10vh */
    height: 10vh; /* 125px at 2560x1440 resolution is approximately 10vh */
    transform: translateY(-70vh) rotate(180deg); /* Initial position 30vh below the center with rotation */
    transition: transform 0.35s ease-out; /* Smooth animation duration changed to 350ms */
}

#footer {
    position: absolute;
    bottom: -42.5vh; /* 7.5% above the bottom edge */
    left: 50%;
    transform: translateX(-50%);
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text horizontally */
    font-family: "CustomFont", sans-serif;
}

.qmark {
    margin-left: 0px; /* Adjust spacing between the copyright text and question mark */
    transition: color 0.35s ease;
}

.qmark:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -42.5vh; /* 7.5% above the bottom edge */
    left: 50%;
    transform: translateX(-50%);
    font-family: "CustomFont", sans-serif;
}

.button-container {
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 35vh; /* 20% of viewport height */
    height: 8vh; /* 5% of viewport height */
    margin-bottom: 10px; /* Add some spacing between buttons */
    background-color: #31363F; /* Background color */
    color: #76ABAE; /* Text color */
    border: 5px solid #76ABAE; /* Border */
    border-radius: 20px; /* Border radius */
    font-size: 24px; /* Adjust font size as needed */
    font-family: "CustomFont", sans-serif; /* Use the custom font with fallback to sans-serif */
    transition: background-color 0.5s, color 0.5s; /* Transition on background color and text color */
}

.button:hover {
    background-color: #76ABAE; /* Background color on hover */
    color: #31363F; /* Text color on hover */
    border: 5px solid #31363F; /* Border */
    cursor: pointer;
}

